h1, h2, h3, h4, h5, h6, p {
  /* zeroing out */
  padding: 0;
  margin: 0;
  color: #120B1C; }

label {
  font-size: 12px; }

.App {
  text-align: center;
  background: #FBFBFB;
  padding: 44px 12px;
  min-height: 100vh; }
