@import "./styles/colours.scss";

.App {
  text-align: center;
  background: $slightly-grey;
  min-height: 100vh;

  & h1, h2, h3, h4, h5, h6, p {
    /* zeroing out */
    padding: 0;
    margin: 0;
  }
}
